<!-- Title block -->
<div id="title-block" class="text-center mb-4">
  <h1 class="display-4 text-light bg-dark py-3 rounded">{{ title }}</h1>
  <!-- <h2 class="text-secondary mt-3">Choose a Hero or Enter New Data</h2>
    <p class="text-muted">
      Click on a hero's image to fill the form or use the form below to enter
      new data
    </p> -->
</div>

<!-- Hero Section -->
<div class="hero-banner position-relative">
  <div class="hero-overlay text-white text-center">
    <h1 class="display-3 fw-bold">Welcome to Hero World</h1>
    <p class="lead">Click a hero to see more or add your own!</p>
  </div>
</div>
