<!-- Heroes List -->
<div class="row mt-5">
  <div class="col-3" *ngFor="let hero of _serviceHeros.heroes">
    <div
      [ngClass]="{
        'card p-1': true,
        powerHigh: hero.power >= 20,
        powerMedium: hero.power >= 10 && hero.power < 20,
        powerLow: hero.power >= 5 && hero.power < 10,
        powerVeryLow: hero.power < 5
      }"
      (touchstart)="swipe($event)"
      (touchend)="swipe($event)"
    >
      <div class="card-image">
        <img [src]="hero.imgUrl" alt="" class="img-fluid w-100" />
      </div>
      <div class="card-body">
        <h2 class="card-title fs-3">{{ hero.name }}</h2>
        <p class="card-text">Power {{ hero.power }}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>
